<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450007469942-l7ao43lj21k2mf7hofiha2guomld9mtn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450007469942-l7ao43lj21k2mf7hofiha2guomld9mtn</string>
	<key>API_KEY</key>
	<string>AIzaSyDT8PfAKfuW0K8wJDP3HBOchRN-rSZilt0</string>
	<key>GCM_SENDER_ID</key>
	<string>450007469942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Push</string>
	<key>PROJECT_ID</key>
	<string>push-8a8b2</string>
	<key>STORAGE_BUCKET</key>
	<string>push-8a8b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450007469942:ios:43cf08ec87251bde15f457</string>
	<key>DATABASE_URL</key>
	<string>https://push-8a8b2.firebaseio.com</string>
</dict>
</plist>